{% extends 'adminbase.html' %}
{% load static  %}
{% block title %} DashBoard {% endblock %}
{% block content %}
<main id="main" class="main">  
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Generate Bill</h5>
            <form action="{% url 'pdf_invoice' %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Contact Number</label>
                    <div class="col-sm-10">
                        <input type="tel" id="contact" name="contact" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Number of guests</label>
                    <div class="col-sm-10">
                        <input type="number" id="numberofguest" name="numberofguest" min="1" max="15" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Number of room</label>
                    <div class="col-sm-10">
                        <input type="number" id="rooms" name="rooms" min="1" max="10" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Arrival</label>
                    <div class="col-sm-10">
                        <input type="date" id="checkin" name="checkin" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Departure</label>
                    <div class="col-sm-10">
                        <input type="date" id="checkout" name="checkout" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Today</label>
                    <div class="col-sm-10">
                        <input type="date" id="today" name="today" class="form-control" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Prepayment</label>
                    <div class="col-sm-10">
                        <input type="number" id="prepayment" name="prepayment" min="0" class="form-control" required >
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Total cost</label>
                    <div class="col-sm-10">
                        <input type="number" id="tota" name="total" min="0" class="form-control" required>
                    </div>
                </div>
                <button type="submit"  class="btn btn-danger">Generate </button>
            </form>
        </div>
    </div>
</main> 
{% endblock %}
